body {
    font-family: 'Playfair Display', serif;
}

.logo {
    width: 120px;
    height: 25px;
}

.nav li a {
    font-size: 14px;
    color: #626262;
}

.nav li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .nav-link {
        margin: 16px 0;
        padding: 0 8px;
    }
}

.card {
    border: none;
}

.card-body {
    padding: 1.25rem 0;
}

.card-img, .card-img-top {
    border-radius: 0;
}

